{
  "autoscan": {
    "api_key": "{{ user.pass }}",
    "url": "http://plex.{{ user.domain }}:3468"
  },
  "motd": {
    "banner_title": "COOLFLIX",
    "banner_type": "peek",
    "show": {
      "autoscan": true,
      "nzbget": true,
      "plexpy": true
    },
    "text_color": "LGRN",
    "title_color": "LBLU"
  },
  "nzbget": {
    "url": "http://127.0.0.1:6789"
  },
  "plexpy": {
      "url": "https://plexpy.{{ user.domain }}",
      "api_key": "{{ plexpy_apikey }}"
  }
}
