[
    {
        "serviceTitle": "Plex",
        "enabled": "Yes",
        "image": "..\/img\/plex.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/plex:32400",
        "linkurl": "https:\/\/plex.{{ user.domain }}"
    },
    {
        "serviceTitle": "Ombi",
        "enabled": "Yes",
        "image": "..\/img\/ombi.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/ombi:5000",
        "linkurl": "https:\/\/ombi.{{ user.domain }}"
    },
    {
        "serviceTitle": "Nextcloud",
        "enabled": "Yes",
        "image": "..\/img\/nextcloud.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "https:\/\/nextcloud:443",
        "linkurl": "https:\/\/cloud.{{ user.domain }}"
    },
    {
        "serviceTitle": "Radarr",
        "enabled": "Yes",
        "image": "..\/img\/radarr.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/radarr:7878",
        "linkurl": "https:\/\/radarr.{{ user.domain }}"
    },
    {
        "serviceTitle": "Radarr 4K",
        "enabled": "Yes",
        "image": "..\/data\/usrimg\/radarr4k.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/radarr4k:7878",
        "linkurl": "https:\/\/radarr4k.{{ user.domain }}"
    },
    {
        "serviceTitle": "Sonarr",
        "enabled": "Yes",
        "image": "..\/img\/sonarr.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/sonarr:8989",
        "linkurl": "https:\/\/sonarr.{{ user.domain }}"
    },
    {
        "serviceTitle": "Lidarr",
        "enabled": "Yes",
        "image": "..\/img\/lidarr.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/lidarr:8686",
        "linkurl": "https:\/\/lidarr.{{ user.domain }}"
    },
    {
        "serviceTitle": "NZBGet",
        "enabled": "Yes",
        "image": "..\/img\/nzbget.png",
        "type": " Ping Only",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/nzbget:6789",
        "linkurl": "https:\/\/nzbget.{{ user.domain }}\/"
    },
    {
        "serviceTitle": "qBittorent",
        "enabled": "Yes",
        "image": "..\/data\/usrimg\/qbt.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/qbittorrentvpn:8080",
        "linkurl": "https:\/\/torrents.{{ user.domain }}"
    },
    {
        "serviceTitle": "JDownloader",
        "enabled": "Yes",
        "image": "..\/data\/usrimg\/jdownloader.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/jdownloader2:5800",
        "linkurl": "https:\/\/jdownloader2.{{ user.domain }}\/"
    },
    {
        "serviceTitle": "NZBHydra",
        "enabled": "Yes",
        "image": "..\/img\/nzbhydra.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/nzbhydra2:5076",
        "linkurl": "https:\/\/nzbhydra2.{{ user.domain }}"
    },
    {
        "serviceTitle": "Jackett",
        "enabled": "Yes",
        "image": "..\/img\/jackett.png",
        "type": " Ping Only",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "https:\/\/jackett:9117",
        "linkurl": "https:\/\/jackett.{{ user.domain }}"
    },
    {
        "serviceTitle": "Tautulli",
        "enabled": "Yes",
        "image": "..\/img\/tautulli.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/plexpy:8181",
        "linkurl": "https:\/\/plexpy.{{ user.domain }}"
    },
    {
        "serviceTitle": "Grafana",
        "enabled": "Yes",
        "image": "..\/img\/grafana.png",
        "type": " Ping Only",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "http:\/\/grafana:3000",
        "linkurl": "https:\/\/grafana.{{ user.domain }}"
    },
    {
        "serviceTitle": "InfluxDB",
        "enabled": "Yes",
        "image": "..\/img\/influxdb.png",
        "type": " Ping Only",
        "ping": "Disabled",
        "link": "No",
        "checkurl": "http:\/\/influxdb:8086"
    },
    {
        "serviceTitle": "SyncLounge",
        "enabled": "Yes",
        "image": "..\/data\/usrimg\/synclounge.png",
        "type": " Standard",
        "ping": "Disabled",
        "link": "Yes",
        "checkurl": "https:\/\/together.{{ user.domain }}",
        "linkurl": "https:\/\/together.{{ user.domain }}"
    },
    {
        "serviceTitle": "MariaDB",
        "enabled": "Yes",
        "image": "..\/img\/mysql.png",
        "type": " Ping Only",
        "ping": "Disabled",
        "link": "No",
        "checkurl": "http:\/\/mariadb:3306"
    }
]